<div style="margin: 50px;">
<p>
  <b>素数</b>とは、1 と自分自身以外に正の約数を持たない自然数で、1 でない数のことである。
</p>

<p>数々の数学者を虜にするこの数は未だに解明されていない不思議な数です。</p>

<p>
  等サイトは素数の検索のためのサイトです、気晴らしにゆっくりと検索して行って下さい。
</p>
<br>
<h4>なお等サイトでは素数に関連する下記の検索に対応しております。</h4>

<ol>
  <li><%= link_to "素数検索", :root, class: "current" %></li>
  <li><%= link_to "双子素数検索", [ :twins_prime, :prime_index ], class: "current" %></li>
  <li><%= link_to "三つ子素数検索", [ :prime_triplet, :prime_index ], class: "current" %></li>
  <li><%= link_to "四つ子素数検索", [ :prime_quadruplet, :prime_index ], class: "current" %></li>
  <li><%= link_to "素因数分解", [ :prime_factorization, :prime_index ], class: "current" %></li>
  <li>ファルマーの小定理検索(実装中)</li>
  <li>ゴールドバッハ予想検索(実装中)</li>
</ol>

<br>

<p>GitHUBでソースコードを公開しています。よければ覗いて下さい。</p>
<h3><%= link_to 'Primeradar', 'http://github.com/t-fukui/Primeradar' %></h3>
</div>
