<div style="margin: 50px;">
<p>
  素数とは、1 と自分自身以外に正の約数を持たない自然数で、1 でない数のことである。
</p>
<p>
  １を除くすべての自然数は素数と合成数に分ける事ができる。
  素数は数の原子と呼ばれていて、今日の自分たちの生活になくてはならない必須の数である。
</p>
<p>
  クレジットカードの取引ではRSAの暗号を使用し安全な取引ができるのは素数があるおかげ。
  フェルマーの小定理という素数の性質に関しての定理を使ってRSAの暗号に応用されている。
</p>
<br>
<h4>なお等サイトでは素数に関連する下記の検索に対応しております。</h4>

<ol>
  <li><%= link_to "素数検索", :root, class: "current" %></li>
  <li><%= link_to "双子素数検索", [ :twins_prime, :prime_index ], class: "current" %></li>
  <li><%= link_to "三つ子素数検索", [ :prime_triplet, :prime_index ], class: "current" %></li>
  <li><%= link_to "四つ子素数検索", [ :prime_quadruplet, :prime_index ], class: "current" %></li>
  <li><%= link_to "素因数分解", [ :prime_factorization, :prime_index ], class: "current" %></li>
  <li>ゴールドバッハ検索(実装中)</li>
</ol>

</div>
