<div style="margin: 50px;">

<p>
  メルセンヌ数（メルセンヌすう、英: Mersenne number）とは、2の冪よりも 1 小さい自然数、すなわち 2n − 1（n は自然数）の形の自然数のことである。
</p>

<div class="error">
  <p>
    <%= flash.alert %>
  </p>
</div>
<br>
<%= form_tag [ :mersenne_number, :prime_index ], method: :get do %>
  <%= label_tag :mersenne_number, "メルセンヌ数 検索" %>
  <%= text_field_tag :mersenne_number, "", maxlength: 20 %>
  <%= submit_tag "検索" %>
<% end %>


</div>
