<div style="margin: 50px;">

<p>
  四つ子素数（よつごそすう、prime quadruplet）とは、p, p+2, p+6, p+8 がすべて素数であるような数の組をいう
</p>

<div class="error">
  <p>
    <%= flash.alert %>
  </p>
</div>

<%= form_tag [ :prime_quadruplet, :prime_index ], method: :get do %>
<br>
  四つ子素数 検索
  <%= text_field_tag :prime_quadruplet_from, "",maxlength: 6 %> 〜
  <%= text_field_tag :prime_quadruplet_to, "", maxlength: 6 %>
  <%= submit_tag "検索" %>
<% end %>

<% if @search_prime_quadruplet.present? %>
<h4 style="text-align: center;">

<%= params[:prime_quadruplet_from].present? ? params[:prime_quadruplet_from] : 1 %>〜<%= params[:prime_quadruplet_to] %>の中の四つ子素数たち
<p>四つ子素数の合計：<%= number_with_delimiter(@search_prime_quadruplet.total_count) %></p>
</h4>

<%= paginate @search_prime_quadruplet %>
<br>

<table width="30%">
<% @search_prime_quadruplet.each do |num| %>
  <tr class="<%= cycle("odd", "even") %>">
  <td class="prime">
    <% num.each do |prime_number| %>
    <%= prime_number %>
    <% end %>
  </td>
  </tr>
  <% end %>
</table>
<% end %>

</div>
