<p>
  四つ子素数（よつごそすう、prime quadruplet）とは、p, p+2, p+6, p+8 がすべて素数であるような数の組をいう
</p>

<div class="error">
  <p>
    <%= flash.alert %>
  </p>
</div>

<%= form_tag [ :prime_quadruplet, :prime_index ], method: :get do %>
<br>
  四つ子素数 検索
  <%= text_field_tag :prime_quadruplet_from, "",maxlength: 6 %> 〜
  <%= text_field_tag :prime_quadruplet_to, "", maxlength: 6 %>
  <%= submit_tag "検索" %>
<% end %>

<% if @search_prime_quadruplet.present? %>
<h4 align="center">
<%= params[:twins_prime_number_from] %>〜<%= params[:twins_prime_number_to] %>の中の素数たち
<p>四つ子素数の合計：<%= number_with_delimiter(@search_prime_quadruplet.count) %></p>
</h4>

<table width="80%" >
  <% @search_prime_quadruplet.each do |num| %>
    <td width="100px" style="float: left;">
    <div class="prime"><%= num.flatten.first %></div>
    </td>
    <td width="100px" style="float: left;">
    <div class="prime" style="color: blue;"><%= num.flatten.last %></div>
    </td>
  <% end %>
</table>
<% end %>
