<div style="margin: 50px;">
  <p>
    四つ子素数（よつごそすう、prime quadruplet）とは、p, p+2, p+6, p+8 がすべて素数であるような数の組をいう
  </p>

  <div class="error">
    <p>
      <%= flash.alert %>
    </p>
  </div>

  <%= form_for :prime_form, :url => { :action => :prime_quadruplet }, method: :get do |f| %>
    <%= f.text_field :prime_quadruplet_from, maxlength: 8, size: 20 %> 〜
    <%= f.text_field :prime_quadruplet_to, maxlength: 8, size: 20 %>
    <%= f.submit "検索", class: 'btn btn-success' %>
  <% end %>

  <% if @prime_quadruplet.present? %>
    <h4 style="text-align: center;">
    <%= number_with_delimiter(@search.prime_quadruplet_from) %>〜<%= number_with_delimiter(@search.prime_quadruplet_to) %>の中の四つ子素数たち
    <p>四つ子素数の合計：<%= number_with_delimiter(@prime_quadruplet.count) %></p>
    </h4>

    <%= paginate @prime_quadruplet %>
    <br>

    <table width="30%">
    <% @prime_quadruplet.each do |num| %>
      <tr class="<%= cycle("odd", "even") %>">
      <td class="prime">
        <% num.each do |prime_number| %>
        <%= number_with_delimiter(prime_number) %>
        <% end %>
      </td>
      </tr>
      <% end %>
    </table>
  <% end %>
</div>
