<br>
<div id="number_center">
<%= form_tag :root, method: :get do %>
  <%= label_tag :prime_number, "素数検索" %>
  <%= text_field_tag :prime_number, params[:prime_number] %>
  <%= hidden_field_tag :prime_number_from, params[:prime_number_from] %>
  <%= hidden_field_tag :prime_number_to, params[:prime_number_to] %>
  <%= submit_tag "検索" %>
<% end %>

  <p class="error"><%= @error[:prime_number] if @error[:prime_number].present? %></p>

<% if @prime.present? && @error[:prime_number].blank? %>
  <%= "#{number_with_delimiter(@prime)}は素数です" if prime_number(@prime) %>
  <%= "#{number_with_delimiter(@prime)}は素数ではありません" if composite_number(@prime) %>
<% end %>

<%= form_tag :root, method: :get do %>
<br>
  範囲検索
  <%= text_field_tag :prime_number_from, "", value: params[:prime_number_from].blank? ?
  0 : params[:prime_number_from] %> 〜
  <%= text_field_tag :prime_number_to, "", value: params[:prime_number_to].blank? ?
  50 : params[:prime_number_to] %>
  <%= hidden_field_tag :prime_number, params[:prime_number] %>
  <%= submit_tag "検索" %>
<% end %>
  <p class="error"><%= @error[:prime_number_from] if @error[:prime_number_from].present? %></p>
<hr>
</div>
