<br>
<%= form_for :prime_form, :url => { :action => :search_twins_prime }, method: :get do |f| %>
  <%= f.label '双子素数検索' %>
  <%= f.text_field :twins_prime_number_from, maxlength: 8, size: 20 %> 〜
  <%= f.text_field :twins_prime_number_to, maxlength: 8, size: 20 %>
  <%= f.submit "検索", class: 'btn btn-success' %>
<% end %>
  <br>
  <br>
  隣り合う素数の差が２の素数の組を検索します。

<% if @twins_prime.present? %>
  <h4 align="center">
  <%= number_with_delimiter(@search.twins_prime_number_from) %>〜<%= number_with_delimiter(@search.twins_prime_number_to) %>の中の双子素数たち
  <p>双子素数の組の合計：<%= number_with_delimiter(@twins_prime.count) %></p>
  </h4>

  <%= paginate @twins_prime %>
  <br>

  <table width="80%" >
    <% @twins_prime.each do |number| %>
      <td width="100px" style="float: left;">
        <div class="prime"><%= number_with_delimiter(number.flatten.first) %></div>
      </td>
      <td width="100px" style="float: left;">
        <div class="prime" style="color: blue;"><%= number_with_delimiter(number.flatten.last) %></div>
      </td>
    <% end %>
  </table>
<% end %>
