<br>
<%= form_for :prime_form, :url => { :action => :search_prime }, method: :get do |f| %>
  <%= f.label '範囲検索' %>
  <%= f.text_field :prime_number_from, maxlength: 8, size: 20 %> 〜
  <%= f.text_field :prime_number_to, maxlength: 8, size: 20 %>
  <%= f.submit "検索", class: 'btn btn-success' %>
<% end %>
<br>
<p>ケタ数が多くなると検索時間が遅くなります。</p>

<% if @range_prime.present? %>
  <h4 align="center">
  <%= number_with_delimiter(@search.prime_number_from) %>〜<%= number_with_delimiter(@search.prime_number_to) %>の中の素数たち
    <p>素数の合計：<%= number_with_delimiter(@range_prime.count)  %></p>
  </h4>

  <%= paginate @range_prime %>
  <br>

  <table width="80%" >
    <% @range_prime.each do |number| %>
      <td width="100px" style="float: left;">
      <div class="prime"><%= number_with_delimiter(number) %></div>
      </td>
    <% end %>
  </table>
  <br>
<% end %>
