<%= render "search" %>

<h4 align="center"><%= @prime_number_from %>〜<%= @prime_number_to %>の素数たち</h4>
<table>
<% (@prime_number_from..@prime_number_to).each do |num| %>
  <td>
  <div class="composite"><%= composite_number(num) %></div>
  <div class="prime"><%= prime_number(num) %></div>
  </td>
<% end %>
</table>

