<!DOCTYPE html>
<html>
<head>
  <title><%= document_title %></title>
  <meta name="author" content="花こう うるうる">
  <meta name="keywords" content="素数, prime, primenumber, PrimeNumber,そすう, 数学, 数, 整数, 自然数, 素数レーダー">
  <meta name="description " content="素数を見つける">
  <meta name="viewport" content="width=device-width" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/header" %>
<%= yield %>
  <%= render "shared/footer" %>
</body>
</html>
