<!DOCTYPE html>
<html>
<head>
  <title><%= document_title %></title>
  <meta name="author" content="Toru Fukui">
  <meta name="keywords" content="素数判定, 素数, そすう, 双子素数, 数, 整数, 自然数, 素数レーダー, prime, primenumber, twinnumber">
  <meta name="description " content="素数を見つける">
  <meta name="viewport" content="width=device-width" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- Bootstrap start-->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <!-- Bootstrap end -->

  <%= analytics_init if Rails.env.production? %>

</head>
<body>
  <%= render "shared/header" %>
<%= yield %>
  <%= render "shared/footer" %>
</body>
</html>
